<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="AutomationSuite" parallel="false">
    
    <!-- Define a test block -->
    <test name="RegressionTests">
        
        <!-- You can include classes directly -->
        <classes>
            <class name="runners.TestRunner"/>
            
        </classes>
    </test>

</suite>
